<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebVue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebVue.styles.css" asp-append-version="true" />
</head>
<body>
    <p align="right">Atención 24/7 <b>+511 500 0460</b></p>
    <header id="cabheader">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3"> <!--Agregar el navbar-light bg-white Para poner barra blanca-->
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"> <!--WEBVUE-->
                    <img src="https://d13xymm0hzzbsd.cloudfront.net/1/20210305/16149760133203.png" height="80px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Busqueda">Busqueda</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Registro" class="form-control input-lg">  
                                <img src="https://cdn-icons-png.flaticon.com/512/2422/2422560.png" height="40px" />
                                <p><b>Registro</b></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ofertas" class="form-control input-lg"> 
                                <img src="https://cdn-icons-png.flaticon.com/512/2237/2237820.png" height="40px" />
                                <p><b>Ofertas</b></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" align="center">
            &copy; 2022 - Alexander More Crispin - <a asp-area="" asp-page="/Privacy">Hecho con 💛 Platanitos</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>