@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
<div class="text-center">
    <h1 class="display-4">Bienvenido a la Web de Plantanitos.com</h1>
    <h2>Productos disponibles en la Web</h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <table class="table table-bordered" align="center">
            <tr>
              <th>Tacos</th>
              <th>Sandalias</th>
              <th>Carteras</th>
              <th>Relojes</th>
            </tr>
            <tr>
              <td><img src="http://3.bp.blogspot.com/-RIWLNYflgkE/UWuphurbUOI/AAAAAAAALAw/tnXwndtwG2s/s1600/platanitos2.jpg" height="300px" width="300px"></td>
              <td><img src="https://3.bp.blogspot.com/-Np0aeuPbaYY/WrqzEVB_2oI/AAAAAAAALvc/LJKdOo4j6hg3cjd708y94jLsKMQHptNNQCLcBGAs/s1600/4.jpg" height="300px" width="300px"></td>
              <td><img src="https://pbs.twimg.com/media/EUUffesX0AMxaII.png" height="300px" width="300px"></td>
              <td><img src="https://pbs.twimg.com/media/EUUffesX0AMxaII.png" height="300px" width="300px"></td>
            </tr>
            <tr>
              <td><img src="https://mister-mango.omni.la/ProductCatalog/Workspace.CWDQQL6GUIJMS/ProductCatalog.CWVTBNB5Q7CAI/500x500/CXFI6ADWH7H6G.jpg" height="300px" width="300px"></td>
              <td><img src="https://mister-mango.omni.la/ProductCatalog/Workspace.CYC3VPWVK2T2U/ProductCatalog.CYDBUASTR35Q6/500x500/C2JERJQAQAPLW.jpg" height="300px" width="300px"></td>
              <td><img src="https://pbs.twimg.com/media/EUUffesX0AMxaII.png" height="300px" width="300px"></td>
              <td><img src="https://pbs.twimg.com/media/EUUffesX0AMxaII.png" height="300px" width="300px"></td>
          </tr>
       </table>

</div>
</body>
