html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightgray;
}

#cabheader {
    width: 100%;
    background-color: palegreen;
}

nav{
    height: 100px;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#mdlbody {
    background-color: lightgrey;
}

#mdlheader{
    background-color: lightgrey;
}
#mdlbotn{
    background-color: lightgrey;
}
